/*
home
about
projects
contact
resume  */

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: -webkit-linear-gradient(-90deg, #0034FF, #A7DBFF); */
    /* color: white; */
    /* background: -webkit-linear-gradient(-90deg, #A7DBFF, white); */
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Lato Bold";
    src: url(fonts/Lato/Lato-Bold.ttf) format("truetype");
}

/*Phone*/ 
@media only screen and (min-width : 300px) {

    .top-container {
        /* padding-top: 25%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        width: 100%;
        /* justify-content: space-around; */
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .flower-holder {
        /* background-color: black; */
        padding-left: 20%;
    }

    .flower {
        width: 70%;
        transform: rotate(35deg);
    }

    .top-name {
        padding-top: 10%;
        padding-bottom: 5%;
        font-family: Lato Bold; 
        font-size: 3.25rem;
    }

    .side-links {
        display: flex;
        flex-direction: column;
        /* margin-right: 20%; */
        padding-left: 6%;
    }

    .side-links img {
        height: 40px;
        width: 40px; 
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .main-photo {
        height: 150px;
        border-radius: 100%; 
    }

    .links-and-photo {
        display: flex;
        border: 15px solid rgba(0,140,255,0.5);
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        align-items: center;
        padding: 5% 0 5% 0;
        margin-bottom: 10%;
        border-radius: 25px;
    }

    .greeting {
        width: 70%;
        text-align: center;
        padding: 7.5%;
        font-size: 1.25rem;
        background-color: white;
        /* border-radius: 100%; */
    }

}

/*Phone*/
@media only screen and (min-width : 300px) and (orientation: landscape) {}


/*Tablet*/
@media only screen and (min-width : 750px) {}


/*Desktop*/
@media only screen and (min-width : 1200px) {}