/*
home
profile-pic
hamburger menu X
resume
*/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    /* background-color: rgba(255,255,255,0.9); */
}

a {
    text-decoration: none;
}

/* NO QUERY MENU =========================================================================*/

/* .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    z-index: 200;
}

nav {
    color: rgba(0,0,0,.05);
}

.nav__container {
    padding: 0 1rem;
}

.nav__title-link {
    display: flex;
    align-items: center;
    padding-left: 0;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav__title-link:hover {
    color: white;
}

.nav__list {
    position: absolute;
    right: 0;
    top: 4rem;
    width: 25%;
    height: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,.85);
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease-out, height 0ms linear 300ms;
}

.nav__link {
    display: block;
    padding: 1rem 0;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav__burger {
    float: right;
    position: relative;
    width: 4rem;
    height: 4rem;
    z-index: 10;
}

.nav__burger:before, .nav__burger:after {
    content: '';
    position: absolute;
    left: 1rem;
    width: 2.5rem;
    height: 4px;
    background-color: rgba(0,0,0,.4);
    transform-origin: 50% 50%;
    transition: transform 275ms ease;
}

.nav__burger:before {
    top: 22px;
}

.nav__burger:after {
    top: 34px;
}

.nav--opened .nav__list {
    height: 15rem;
    opacity: 1;
    transition: opacity 300ms ease-out;
}

.nav--opened {
    background-color: rgba(0,0,0,.85);
}

.nav--opened .nav__burger:before {
transform: translate3d(0, 6px, 0) rotate(-45deg);
}

.nav--opened .nav__burger:after {
transform: translate3d(0, -6px, 0) rotate(45deg);
} */

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #191919;
    z-index: 200;
  }
  
  /* @media screen and (min-width: 769px) { */
    .nav__container {
      display: flex;
      justify-content: flex-end;
      margin: 0 auto;
      height: 100%;
      max-width: 800px;
    }
  /* } */
  .nav__title {
    float: left;
    margin: 0;
    height: 60px;
  }
  /* @media screen and (min-width: 769px) { */
    .nav__title {
      flex: 1;
      align-self: flex-start;
      float: none;
      height: 100%;
    }
  /* } */
  .nav__title-link {
    display: flex;
    align-items: center;
    padding-left: 0;
    height: 100%;
    color: #eee;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 2px;
  }
  .nav__title-link:hover {
    color: #eee;
  }
  .nav__list {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    background-color: #191919;
    list-style: none;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease-out, height 0ms linear 300ms;
    font-size: 1.5rem;
  }
  /* @media screen and (min-width: 769px) { */
    .nav__list {
      display: flex;
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      opacity: 1;
    }
  
  /* @media screen and (min-width: 769px) { */
    .nav__item {
      display: flex;
      align-items: center;
      height: 60px;
    }
  
  .nav__link {
    display: block;
    padding: 15px 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
  }
  /* @media screen and (min-width: 769px) { */
    .nav__link {
      padding: 0 30px;
      transition: color 150ms ease-out;
    }
    .nav__link:hover {
      color: #2AA3BF;
    }
  /* }
  .nav__burger {
    float: right;
    position: relative;
    width: 60px;
    height: 60px;
  }
  .nav__burger:before, .nav__burger:after {
    content: '';
    position: absolute;
    left: 10px;
    width: 40px;
    height: 4px;
    background-color: #eee;
    transform-origin: 50% 50%;
    transition: transform 275ms ease;
  }
  .nav__burger:before {
    top: 22px;
  }
  .nav__burger:after {
    top: 34px;
  } */
  /* @media screen and (min-width: 769px) {
    .nav__burger { */
      /* display: none;
    } */
  


/*======================================================================================================*/

/* TOP CONTAINER =======================================================================================*/

.top-container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

/*======================================================================================================*/

/* TOP HEADER ==========================================================================================*/

.top-name {
    /* width: 100%; */
    padding-top: 50%;
    position: relative;
    z-index: 3;
    font-size: 2.8rem;
    color: rgba(0,0,0,.4);
    letter-spacing: 2px;
    /* font-weight: bold; */
}

.flower {
    width: 100%;
    transform: rotate(35deg);
    -webkit-filter: invert(1);  
    filter: invert(1);
}

.white-screen {
    background-color: rgba(255,255,255,.9);
    position: absolute;
    height: 100%;
    width: 100%;
    /* border: 10px solid red; */
    z-index: 2;
}

.flower-container {
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*======================================================================================================*/

/* FIRST DIVIDER ==========================================================================================*/

.blue-divider {
    width: 100%;
    height: 14rem;
    background: url("../images/bluuuecopycopycopy.jpeg") no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
}

.top-greeting {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
    font-size: 1.25rem;
    color: rgba(255,255,255,.9);
    letter-spacing: 1px;
}

/*==========================================================================================================*/

/* SECOND DIVIDER ==========================================================================================*/

.second-divider {
    height: 180px;
    /* position: relative; */
    width: 100%;
    background: url("../images/bluuuecopycopycopy.jpeg") no-repeat center bottom;
    padding-top: 35%;
    padding-bottom: 0;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 2rem;
}

/*==========================================================================================================*/

/* PROJECTS SECTION ========================================================================================*/

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem;
    font-size: 2.8rem;
    color: rgba(0,0,0,.4);
}

.project-title {
    display: flex;
    width: 100%;
    padding-bottom: 7.5%;
    margin-top: 20%;
    /* padding-left: 5%; */
    justify-content: center;
    font-size: 2.8rem;
    color: rgba(0,0,0,.4);
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: absolute;
    height: 100%;
    z-index: 100;
    transition: opacity 1s ease;
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    padding-top: 1.6rem;
    opacity: 0;
    top: 0;
}

.no-touchevents .project:hover .overlay:hover,
.project:hover .overlay {
	background: rgba(255,255,255,0.9);
    opacity: 0.9;
}


.built {
    margin-top: 0;
    font-size: 1rem;
    /* margin-bottom: .5rem; */

}

.techs svg {
    height: 2.7rem;
}

.techs .handlebars {
    height: unset;
    width: 50px;
    margin-bottom: 1.2rem;
}

/* .proj-button {
    margin-left: .25rem;
    margin-right: .25rem;
} */

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* z-index: 300000; */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: .5rem;
    border-radius: 6px;
    font-size: 1rem;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity .4s;
}

.tooltip-left {
    /* Position the tooltip text */
    position: absolute;
    z-index: 200;
    top: -5px;
    right: 125%;
}

.tooltip-right {
    position: absolute;
    z-index: 200;
    top: -5px;
    left: 125%;
}

.tooltip-bottom {
    position: absolute;
    /* top: 90%; */
    left: 50%;
    margin-left: -2.3rem;
    /* z-index: 300; */
    
}


/* Tooltip arrow */
.tooltip .tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#airbox {
    display: none;
}

.project {
    width: 20rem;
    height: 20rem;
    /* overflow: hidden; */
	text-align: center;
	position: relative;
}

.overlay p,
.project a {
	color: black;
    text-decoration: none;
    /* font-weight: bold; */
}

.overlay h3 {
    color: black;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.api {
    margin: .5rem;
    font-size: .8rem;
}

/* .overlay p {
    margin: 0;
} */

.overlay button {
    color: black;
    padding: 1rem;
    border: none;
    letter-spacing: 0.05em;
    background: black;
    color: white;
    font-size: 1rem;
    width: 6rem;
}

.overlay button:hover {
	transition: all 0.7s ease;
	background: #7c7e82;
}

.something-else1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.another-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-bottom: 2rem;
}

#airdesc, #biodesc {
    font-size: 1rem;
    padding: 5% 10% 5% 10%;
}

/* BIOLINGUAL ----------------------- */
.biolingual {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    /* border: 1px solid rgba(0,0,0,.4); */
    background-color: rgba(0,0,0,.05);
    border-radius: 25px;
    padding: 2rem;
    width: 75%;
    /* box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.15); */
    /* margin-left: 5%; */
    /* padding-right: 5%; */
}

.biolingual img {
    height: 40px;
}

/* ----------------------------------- */

/* AIRSPACE -------------------------- */

.airtv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    /* border: 1px solid rgba(0,0,0,.4); */
    background-color: rgba(0,0,0,.05);
    border-radius: 25px;
    padding: 2rem;
    width: 75%;
    /* box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.15); */
    /* margin-left: 5%; */
    /* padding-right: 5%; */
}

.airtv {
    margin-top: 10%;
    /* font-weight: bold; */
    width: 40%;
    margin-left: 0;
    text-align: center;
}

/* ----------------------------------- */

/* SKILLS ---------------------------- */

.skills-title {
    display: flex;
    width: 100%;
    padding-bottom: 7.5%;
    margin-top: 20%;
    justify-content: center;
    font-size: 2.8rem;
    color: rgba(0,0,0,.4);
}

.skills-container {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(0,0,0,.05);
    border-radius: 25px;
    padding: 2.5rem 2.5rem 2rem 2.5rem;
    width: 40%;
}

.skills-container div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 5%;
}

.skills-container img {
    height: 40px;
}

/* ----------------------------------- */

/*==========================================================================================================*/

/* BOTTOM SECTION ========================================================================================*/

.about-title {
    display: flex;
    width: 100%;
    padding-bottom: 5%;
    margin-top: 20%;
    justify-content: center;
    font-size: 2.25rem;
    color: rgba(0,0,0,.4);
}

.link-and-greet {
    display: flex;
    /* display: none; */
    /* border: 15px solid rgba(0,140,255,0.5); */
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: flex-start;
    /* padding-top: 5%; */
    margin-bottom: 10%;
    border-radius: 25px;
    color: rgba(0,0,0,.7);
}

.side-links {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 2.5rem; */
    margin-left: 20%;
    /* margin-left: auto; */
}

.side-links img {
    /* height: 40px; */
    width: 50px; 
    padding-top: 15%;
    padding-bottom: 15%;
}

.about-me {
    width: 70%;
    text-align: left;
    padding: 0 7.5% 7.5% 7.5%;
    font-size: .8rem;
    color: rgba(0,0,0,.5);
    letter-spacing: 1px;
}

/*=========================================================================================================*/

/* PHONE PORTRAIT MEDIA QUERY **************************************************************************** */

@media only screen and (min-width : 300px) {

}

/* ******************************************************************************************************* */

/* PHONE LANDSCAPE MEDIA QUERY **************************************************************************** */

@media only screen and (min-width : 300px) and (orientation: landscape) {

/* PHONE LANDSCAPE TOP HEADER ==========================================================================================*/

.flower {
    top: 0;
    left: 17.5%;
    height: 110%;
}

.top-container {
    /* padding-top: 30%; */
}

/*======================================================================================================*/

/* PHONE LANDSCAPE FIRST DIVIDER ==========================================================================================*/

.top-greeting {
    margin-top: 25%;
    margin-bottom: 10%;
    padding-top: 20%;
    width: 100%;
    height: 200px;
}

/*======================================================================================================*/

/* PHONE LANDSCAPE PROJECTS SECTION ==========================================================================================*/

.project-title {
    margin-top: 0;
    padding-bottom: 5%;
}

.skills-title {
    padding-bottom: 5%;
    margin-top: 15%;
}

.skills-container {
    width: 30%;
    padding: 1rem;
}

/*======================================================================================================*/

/* PHONE LANDSCAPE BOTTOM SECTION ==========================================================================================*/

.second-divider {
    margin-top: 10%;
}

.about-title {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.side-links {
    /* padding-bottom: 40%; */
}

/*======================================================================================================*/

}

/* ******************************************************************************************************* */

/* TABLET PORTRAIT MEDIA QUERY **************************************************************************** */

@media only screen and (min-width : 750px) {

/* TABLET PORTRAIT TOP HEADER ==========================================================================================*/

.top-container {
    padding-top: 0;
}

.flower {
    top: 15%;
    left: 5%;
    height: 40rem;
    width: unset;
}

.top-name {
    font-size: 4rem;
    padding-top: 67.5%;
    margin-bottom: 30%;
}

/*======================================================================================================*/

/* TABLET PORTRAIT FIRST DIVIDER ==========================================================================================*/

    .top-greeting {
        width: 100%;
        padding-top: 30%;
        margin-top: 20%;
        margin-bottom: 0;
        height: 300px;
        font-size: 2rem;
        /* align-self: left; */
    }

    .blue-divider {
        height: 25rem;
    }

    .second-divider {
        height: 6rem;
    }

/*======================================================================================================*/

/* TABLET PORTRAIT PROJECT SECTION ==========================================================================================*/

    .project-title {
        padding-bottom: 2.5%;
    }

    .skills-title {
        margin-top: 10%;
        padding-top: 0;
        padding-bottom: 2.5%;
    }

    .skills-container {
        width: 30%;
    }

/*======================================================================================================*/

/* TABLET PORTRAIT SECOND DIVIDER AND BOTTOM SECTION ==========================================================================================*/

    /* .second-divider {
        margin-top: 2rem;
    } */


    .about-title {
        margin-top: 2rem;
        /* margin-bottom: 2rem; */
    }

    .side-links {
        /* padding-bottom: 30%; */
    }

/*======================================================================================================*/

}

/* ******************************************************************************************************* */

/* TABLET LANDSCAPE MEDIA QUERY **************************************************************************** */

@media only screen and (min-width : 750px) and (orientation: landscape) {
    
/* TABLET LANDSCAPE TOP HEADER ==========================================================================================*/

    .flower {
        top: 0;
        left: 17.5%;
        /* height: 120%; */
    }

    .top-name {
        padding-top: 50%;
        margin-bottom: 20%;
    }

/*======================================================================================================*/

/* TABLET LANDSCAPE FIRST DIVIDER ==========================================================================================*/

    .top-greeting {
        padding-top: 6rem;
        margin-top: 5%;
        margin-bottom: 10%;
        height: 350px;
    }

/*======================================================================================================*/

/* TABLET LANDSCAPE PROJECT SECTION ==========================================================================================*/

.middle-container {
    padding: 5rem 0;
}

.project-title {
    align-self: flex-end;
    /* margin-right: 12.5%; */
    font-size: 3rem;
    /* margin-left: 40%; */
    padding-bottom: 5%;
}

    .project-container {
        display: flex;
        flex-direction: row-reverse;
        /* align-items: center; */
        justify-content: space-around;
        width: 80%;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .something-else1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        margin-left: 7.5%;
    }

    .another-one {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        padding-left: 10%;
        /* justify-content: flex-start; */
        /* justify-content: center; */
    }

/* TABLET LANDSCAPE SKILLS SECTION ----------------------- */

.skills-container {
    padding: 5%;
    width: 60%;
    border: none;
}

.skills-title {
    width: 40%;
    padding-bottom: 5%;
    margin-top: 10%;
    padding-left: 10%;
}

/* ---------------------------------- */

/* BIOLINGUAL ----------------------- */

    .bio-title {
        font-size: 2.5rem;
        padding-bottom: 5%;
    }

    .biolingual {
        margin-top: 20%;
        width: 70%;
        /* height: 55%; */
        border: none;
    }
    
/* ---------------------------------- */

/* AIRSPACE ----------------------- */

    .airtv {
        margin-top: 0;
        height: 20%;
        padding: 2rem;
        border: none;
    }

    .airtv {
        width: 20%;
    }

/* ---------------------------------- */

/* TABLET LANDSCAPE BOTTOM SECTION ==========================================================================================*/

.second-divider {
    /* margin-top: 10%; */
    margin-top: 2rem;
}

.bottom-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .link-and-greet {
        width: 60%;
    }

    .about-title {
        margin-bottom: 2.5%;
    }

/* =======================================================================================================*/

}

/* ******************************************************************************************************* */

/* DESKTOP MEDIA QUERY *********************************************************************************** */

@media only screen and (min-width : 1200px) {

/* DESKTOP TOP HEADER ==========================================================================================*/

    .top-name {
        font-size: 5rem;
        padding-top: 50%;
    }

/* DESKTOP FIRST DIVIDER ==========================================================================================*/

    .top-greeting {
        padding-top: 4.5rem;
    }

/* ==========================================================================================*/

/* DESKTOP PROJECT SECTION ==========================================================================================*/

    .something-else1 {
        align-items: center;
    }

    .project-title {
        align-self: center;
        padding-right: 7.5%;
        font-size: 5rem;
    }

    .skills-title {
        padding-left: 0;
        font-size: 5rem;
    }

    .biolingual {
        margin-top: 5%;
        height: 90%;
        width: 100%;
    }

    .biolingual p {
        font-size: 2rem;
    }

    .materials img {
        height: 100px;
        width: 100px;
    }

    .airtv {
        width: 80%;
        font-size: 2rem;
    }

/* DESKTOP BOTTOM SECTION ==========================================================================================*/

    .about-title {
        font-size: 5rem;
    }

    .about-me {
        font-size: 2rem;
    }

    .side-links img {
        height: 100px;
        width: 100px;
    }

/* ==========================================================================================*/

}