/*
home
about X
picture
projects X
contact X
hamburger menu
resume  
*/

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: rgba(255,255,255,0.9);
    
}

/*Phone*/ 
@media only screen and (min-width : 300px) {

    .top-container {
        padding-top: 45%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 1%;
        /* margin-left: 5%; */
        /* justify-content: space-around; */
        z-index: 2;
    }

    .flower {
        position: absolute;
        top: 10%; 
        right: .1%;
        height: 62.5%;
        transform: rotate(35deg); 
        -webkit-filter: invert(1);  
        filter: invert(1); 
        z-index: -1;
    }

    .top-name {
        /* width: 100%; */
        padding-top: 25%;
        font-size: 3.25rem;
        color: rgba(0,0,0,.4);
        letter-spacing: 1px;
        /* font-weight: bold; */
    }

    .side-links {
        display: flex;
        flex-direction: column;
        padding-bottom: 100%;
        /* margin-right: 20%; */
        /* margin-left: auto; */
    }

    .side-links img {
        height: 40px;
        width: 40px; 
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .main-photo {
        /* height: 150px;
        border-radius: 100%;  */
    }

    .about-me, .top-greeting {
        width: 70%;
        text-align: center;
        padding: 7.5%;
        font-size: 1.25rem;
        color: rgba(0,0,0,.5);
        letter-spacing: 1px;
        /* background-color: white; */
        /* border-radius: 100%; */
    }

    .about-me {
        text-align: left;
        /* padding-right: 18%; */
    }

    .top-greeting {
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .work-title, .skills-title {
        display: flex;
        padding-bottom: 7.5%;
        margin-top: 20%;
        /* padding-left: 5%; */
        justify-content: center;
        font-size: 2.8rem;
        color: rgba(0,0,0,.4);
    }

    .skills-title {
        display: flex;
        padding-top: 30%;
        /* padding-right: 5%; */
    }

    .middle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        /* margin-left: 7.5%; */
        /* margin-left: 5%; */
        width: 95%;
        padding-bottom: 5%;
        font-size: 2.8rem;
        color: rgba(0,0,0,.4);
    }

    .biolingual, .airtv {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        border: 1px solid rgba(0,0,0,.4);
        background-color: rgba(0,0,0,.05);
        border-radius: 25px;
        padding: 2rem;
        width: 75%;
    }

    .airtv {
        margin-top: 10%;
        /* font-weight: bold; */
        width: 50%;
        text-align: center;
    }

    .skills-container {
        display: flex;
        flex-flow: row wrap;
        /* margin-left: 25%;
        margin-right: 25%; */
        margin-bottom: 10%;
        border: 1px solid rgba(0,0,0,.4);
        background-color: rgba(0,0,0,.05);
        border-radius: 25px;
        padding: 2.5rem 2.5rem 2rem 2.5rem;
        width: 40%;
        /* margin-left: 18%; */
        /* margin-left: 20%;
        margin-right: 20%; */
    }

    .skills-container div {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 5%;
    }

    .skills-container img,
    .biolingual img {
        height: 40px;
    }

    .link-and-greet {
        display: flex;
        /* display: none; */
        /* border: 15px solid rgba(0,140,255,0.5); */
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-items: center;
        /* padding-top: 5%; */
        margin-bottom: 10%;
        border-radius: 25px;
        color: rgba(0,0,0,.7);
    }

    .about-title {
        margin-top: 30%;
        margin-bottom: 5%;
    }

}

/*Phone*/
@media only screen and (min-width : 300px) and (orientation: landscape) {

    .flower {
        top: 0;
        left: 17.5%;
        height: 110%;
    }

    .top-container {
        padding-top: 30%;
    }

    .top-name {
        padding-top: 0;
    }

    .top-greeting {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 40%;
    }

    .work-title, .about-title {
        margin-top: 0;
    }

    .skills-title, .about-title {
        padding-top: 5%;
    }

    .skills-title {
        margin-top: 15%;
    }

    .side-links {
        padding-bottom: 40%;
    }

}

/*Tablet*/
@media only screen and (min-width : 750px) {

    .flower {
        top: 15%;
        left: 5%;
        height: 70%;
    }

    .top-container {
        padding-top: 0;
    }

    .top-bunch {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .top-name {
        font-size: 4rem;
        padding-top: 67.5%;
        margin-bottom: 30%;
    }

    .top-greeting {
        width: 20%;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 10%;
        /* align-self: left; */
    }

    .skills-title {
        padding-top: 0;
    }

    .about-title {
        margin-top: 10%;
        margin-bottom: 0;
    }

    .side-links {
        padding-bottom: 30%;
    }

}

/*Tablet*/
@media only screen and (min-width : 750px) and (orientation: landscape) {
    
    .flower {
        top: 0;
        left: 17.5%;
        height: 90%;
    }

    .top-greeting {
        padding-top: 0;
    }

    .top-name {
        padding-top: 35%;
        margin-bottom: 20%;
    }

    .biolingual {
        width: 40%;
    }
    
    .airtv {
        width: 20%;
    }

    .skills-title {
        padding-bottom: 5%;
    }

    .link-and-greet {
        width: 60%;
    }
}

/*Desktop*/
@media only screen and (min-width : 1200px) {
    .flower {
        top: 0;
        left: 17.5%;
        height: 110%;
    }
    
    .top-name {
        font-size: 7rem;
        /* margin-top: 10%; */
        margin-bottom: 20%;
    }

    .top-greeting {
        font-size: 4rem;
        width: 50%;
    }

    .middle-container {
        width: 100%;
    }

    .work-title, .skills-title {
        font-size: 7rem;
        padding: 2rem;
        padding-bottom: 5%;
    }

    .about-title {
        padding-top: 0;
        margin-top: 0;
        font-size: 7rem;
    }

    .biolingual, .airtv,
    .about-me {
        width: 75%;
        font-size: 5rem;
        padding: 4rem;
    }

    .biolingual p {
        width: 80%;
    }

    .materials {
        padding-bottom: 5%;
    }

    .airtv {
        width: 35%;
    }

    .biolingual img, .skills-container img {
        height: 200px;
    }

    .side-links {
        width: 20%;
        /* padding-bottom: 70%; */
    }

    .side-links img {
        height: 120px;
        width: 120px;
    }

    .skills-container {
        width: 30%;
        padding: 4rem;
    }
}